@model Rdv

<h2>Détails du Rendez-vous</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd>@Model.Date</dd>
        <dt>Nom du Patient</dt>
        <dd>@Model.NomPatient</dd>
        <dt>Nom du Praticien</dt>
        <dd>@Model.NomPraticien</dd>
    </dl>
</div>
