@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>

<div>
    <h2>Rendez-vous Data:</h2>
    <pre>@ViewBag.RdvData</pre>
</div>

<div>
    <h2>Praticien Data:</h2>
    <pre>@ViewBag.PraticienData</pre>
</div>