@model List<Praticien>

<h2>Liste des Praticiens</h2>


    <div>
        @using (Html.BeginForm("Index", "Praticien", FormMethod.Post))
        {
            @Html.DropDownList("Id", ViewBag.PraticiensList as SelectList, "Sélectionner un praticien", new { @class = "form-control" })
            <input type="submit" value="Afficher l'agenda" class="btn btn-primary" />
        }
    </div>

  